<a href="https://colab.research.google.com/github/Praharshita23/Elevate_labs_task_1/blob/main/task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

file_path = "/content/Inconsistent_Data.xlsx"   # for Colab upload
df = pd.read_excel(file_path)

print("Original Shape:", df.shape)
print(df.head())

Original Shape: (308, 4)
  Category               Name    Amount   Date
0      NaN  Daniel Williamson  2,403.93  43697
1      NaN        Demi Taylor  3,490.52  43309
2      NaN          erin dale  2,235.47  42921
3      NaN         Ethan Dean       TBC  42892
4      NaN    Harriet Johnson  4,545.26  43412

In [27]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

print(df.head())

  category               name    amount   date
0      NaN  Daniel Williamson  2,403.93  43697
1      NaN        Demi Taylor  3,490.52  43309
2      NaN          erin dale  2,235.47  42921
3      NaN         Ethan Dean       TBC  42892
4      NaN    Harriet Johnson  4,545.26  43412

In [28]:
df["category"].replace("Unknown", "Accommodation", inplace=True)

df["category"].fillna("Accommodation", inplace=True)

print(df.head())

        category               name    amount   date
0  Accommodation  Daniel Williamson  2,403.93  43697
1  Accommodation        Demi Taylor  3,490.52  43309
2  Accommodation          erin dale  2,235.47  42921
3  Accommodation         Ethan Dean       TBC  42892
4  Accommodation    Harriet Johnson  4,545.26  43412

/tmp/ipython-input-3653692225.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["category"].replace("Unknown", "Accommodation", inplace=True)
/tmp/ipython-input-3653692225.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["category"].fillna("Accommodation", inplace=True)

In [29]:
# Removing commas
df["amount"] = df["amount"].astype(str).str.replace(",", "")

# Converting to numeric
df["amount"] = pd.to_numeric(df["amount"], errors="coerce")

# Filling missing values with mean
df["amount"].fillna(df["amount"].mean(), inplace=True)

/tmp/ipython-input-2582156021.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["amount"].fillna(df["amount"].mean(), inplace=True)

In [30]:
print(df["amount"].dtype)
print(df["amount"].isnull().sum())

float64
0

In [31]:
df["date"] = pd.to_datetime(df["date"], errors="coerce")

print(df["date"].head())

0   1970-01-01 00:00:00.000043697
1   1970-01-01 00:00:00.000043309
2   1970-01-01 00:00:00.000042921
3   1970-01-01 00:00:00.000042892
4   1970-01-01 00:00:00.000043412
Name: date, dtype: datetime64[ns]

In [32]:
df.drop_duplicates(inplace=True)

print("Cleaned Shape:", df.shape)

Cleaned Shape: (308, 4)

In [33]:
df.to_csv("cleaned_dataset.csv", index=False)

print("Cleaning completed. File saved as cleaned_dataset.csv")

Cleaning completed. File saved as cleaned_dataset.csv